@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --black: #181818;
    --white: #ffffff;
    --gray: #eeeeee;
    --gray-light: #fbfbfb;
    --font-body: 'PT Sans', sans-serif;
    --font-title: 'Libre Baskerville', serif;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: var(--font-body);
    background-color: var(--gray-light);
}
.container {
    width: 90%;
    margin: auto;
}

    /*Header*/

nav ul {
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.burger {
    width: 32px;
    height: 32px;
    padding-top: 2px;
}
.last div h2,.last div p {
    font-family: var(--font-title);
}
header div h1 {
    font-size: 1.7rem;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    font-weight: bold;
}
header div p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 18px;
}

    /*Main Page*/

.firstSec div img {
    width: 100%;
    margin: auto;
}
.imgfirst {
    margin-top: 150px;
    margin-bottom: 150px;
}
.imgsec a {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-weight: bold;
}
.imgsec a p {
    margin-top: 5px;
    margin-bottom: 60px;
}
.btn {
    width: 100%;
    text-align: center;
}
.btn a {
    border: 1px solid var(--black);
    text-decoration: none;
    color: black;
    padding: 10px 135px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.1rem;
}
.last {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: var(--gray);
    margin-top: 90px;
}
.last img {
    padding-top: 20px;
    height: 210px;
    padding-bottom: 65px;
}
.last div h2,.last div p {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
}
.last div p {
    margin-bottom: 40px;
}
.chiant a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    padding: 10px 120px;
    border-radius: 4px;
    font-size: 1.1rem;
}
.chiant {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    /*Footer*/

.foot {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.foot a {
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 13px 38px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.foot a img {
    height: 40px;
}
